{erl_opts, [debug_info]}.
{lfe_first_files, []}.

{deps, [
    {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v1.2.1"}}},
    {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.9.0"}}},
    {cecho, ".*", {git, "https://github.com/mazenharake/cecho.git", {branch, "master"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}}
]}.

{plugins, [
    {'lfe-compile', "0.8.0-rc3", {pkg, rebar3_lfe_compile}}
]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
]}.

{overrides,
 [{override, cecho, [
     {plugins, [pc]},
     {artifacts, ["priv/cecho.so"]},
     {provider_hooks, [
         {post, [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
